---
const { id } = Astro.params;

import MainLayout from "../../layouts/MainLayout.astro";
const data = await fetch(`https://dummyjson.com/posts/${id}`)
.then(res => res.json())
---

<MainLayout>
    <h1>{data.title}</h1>
    <p>{data.body}</p>
</MainLayout>
