---
import { getFirestore } from "firebase-admin/firestore";
import MainLayout from "../../layouts/MainLayout.astro";
import {app} from "../../firebase/server";
import { Code } from 'astro:components';

interface Post {
    title: string;
    content: string;
    createAt: any;
}

const { id } = Astro.params;

if (!id) {
    return Astro.redirect("/404");
}

const db = getFirestore(app);
const postsRef = db.collection("posts");
const postSnapshot = await postsRef.doc(id).get();

if (!postSnapshot.exists) {
    return Astro.redirect("/404");
}

const post = postSnapshot.data() as Post;

function decodeEntities(encodedString) {
    const translate_re = /&(nbsp|amp|quot|lt|gt);/g;
    const translate = {
        "nbsp":" ",
        "amp" : "&",
        "quot": "\"",
        "lt"  : "<",
        "gt"  : ">"
    };
    return encodedString.replace(translate_re, function(match, entity) {
        return translate[entity];
    }).replace(/&#(\d+);/gi, function(match, numStr) {
        const num = parseInt(numStr, 10);
        return String.fromCharCode(num);
    });
}

const searchRegex = new RegExp(/<pre class="ql-syntax" spellcheck="false">([^<]*)<\/pre>/ , 'ig');

---

<MainLayout title={post.title}>
    <div class="container">
        <h1>{post.title}</h1>
        <Code code={post.content} wrap/>
    </div>

</MainLayout>