---
import { getFirestore } from "firebase-admin/firestore";
import MainLayout from "../../layouts/MainLayout.astro";
import {app} from "../../firebase/server";
import Timestamp from "firebase-admin";

interface Post {
    title: string;
    content: string;
    createAt: typeof Timestamp;
}


const { id } = Astro.params;


if (!id) {
    return Astro.redirect("/404");
}

const db = getFirestore(app);
const postsRef = db.collection("posts");
const postSnapshot = await postsRef.doc(id).get();

if (!postSnapshot.exists) {
    return Astro.redirect("/404");
}

const post = postSnapshot.data() as Post;
---

<MainLayout title={post.title}>
    <div class="container">
        <h1>{post.title}</h1>
        <p set:html={post.content}></p>
    </div>

</MainLayout>