@use "sass:list";
@use "sass:map";
@use "sass:math";

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
  > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.col {
  flex: 1 0 0;
}

@mixin make-col($size: false, $columns: $grid-columns) {
  @if $size {
    flex: 0 0 auto;
    width: percentage(math.div($size, $columns));

  } @else {
    flex: 1 1 0;
    max-width: 100%;
  }
}

@each $breakpoint, $screen-width in $grid-breakpoints {
  @media (min-width: $screen-width) {
    @if $grid-columns > 0 {
      @for $i from 1 through $grid-columns {
        .col-#{$breakpoint}-#{$i} {
          @include make-col($i, $grid-columns);
        }
      }
    }
  }
}