@import "lib/variables";

body {
  background: #eff3f4;
}

#main-layout {
  min-height: 20rem;
}

nav#navbar {
  background: white;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-initial;
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    justify-content: space-around;
    li a {
      display: inline-block;
      padding: 0.5rem 1rem;
    }
  }
}

.blog-list {
  display: flex;
}

footer#footer {
  text-align: center;
  background: #fff;
  padding: 1rem;
  margin-top: 2rem;
}