---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
	<div id="about-me" class="container">
		<span>A BIT ABOUT ME</span>
		<h1>Who Am I?</h1>
		<img src="/about-me.jpg" alt="">
		<p>Hi, I'm Duong, a dedicated professional in the IT software industry with a comprehensive skill set in both backend and frontend development. My passion for coding is matched only by my love for books, constantly seeking to expand my knowledge and expertise.</p>
	</div>
</MainLayout>
