---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import MainLayout from "../layouts/MainLayout.astro";

/* Check if the user is authenticated */
const auth = getAuth(app);
if (Astro.cookies.has("__session")) {
    const sessionCookie = Astro.cookies.get("__session").value;
    const decodedCookie = await auth.verifySessionCookie(sessionCookie);

    if (decodedCookie.uid !== "Ge4COqr0Lse9EBLcUtoUmtmXFFq2") {
        return Astro.redirect("/");
    }

    if (decodedCookie) {
        return Astro.redirect("/dashboard");
    }
}
---

<MainLayout title="Sign in">
    <div class="container">
        <h1>Sign in</h1>
        <button class="primary" id="google">Sign in with Google</button>
    </div>
</MainLayout>
<script>
    import {
        getAuth,
        inMemoryPersistence,
        GoogleAuthProvider,
        signInWithPopup,
    } from "firebase/auth";
    import { app } from "../firebase/client";

    const auth = getAuth(app);
    auth.setPersistence(inMemoryPersistence);

    const googleSignin = document.querySelector("#google") as HTMLButtonElement;
    googleSignin.addEventListener("click", async () => {
        const provider = new GoogleAuthProvider();
        const userCredential = await signInWithPopup(auth, provider);
        const idToken = await userCredential.user.getIdToken();
        try {
            const res = await fetch("/api/auth/signin", {
                headers: {
                    Authorization: `Bearer ${idToken}`,
                },
            })

            if (res.redirected) {
                window.location.assign(res.url);
            }
        } catch (e) {
            console.log("e", e)
        }

    });
</script>