---
import {app} from "../firebase/server";
import {getAuth} from "firebase-admin/auth";
const auth = getAuth(app);
/* Check current session */
if (!Astro.cookies.has("__session")) {
    return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("__session")?.value || "";
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
if (decodedCookie.uid !== "Ge4COqr0Lse9EBLcUtoUmtmXFFq2") {
    return Astro.redirect("/");
}

const user = await auth.getUser(decodedCookie.uid);

if (!user) {
    return Astro.redirect("/signin");
}
---

<header class="dashboard-header">
    <nav class="container">
        <a href="/" class="logo" aria-label="Home Page"><img src="/logo-transparent.png" alt=""></a>
        <form action="/api/auth/signout">
            <h4>Welcome, {user.displayName}</h4>
            <button type="submit">Sign out</button>
        </form>
    </nav>
</header>
