---

---

<footer>
    <div class="container">
        Copyright &copy; <span id="copyRight"></span> | All rights reserved
    </div>
</footer>

<script>
    const selector = document.querySelector("#copyRight");
    if (selector) {
        selector.textContent = new Date().getFullYear().toString()
    }
</script>
