---
const navData = [
    {
        url: "/about",
        label: "About",
    },
    {
        url: "/contact",
        label: "Contact",
    },
];
---

<nav id="navbar" aria-label="Primary">
    <div class="container main-nav">
        <div class="logo">
            <a href="/" aria-label="Home Page">Robin's Blog</a>
        </div>
        <ul>
            {
                navData.map((el) => {
                    return <li><a href={el.url} title={el.label}>{el.label}</a></li>;
                })
            }
        </ul>
    </div>
</nav>
